<a href="https://colab.research.google.com/github/Aswanth-appu/Learn.py/blob/main/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [1]:
#please enter your answer below this line
for i in range(1000,2000):

    if i%7==0 and i%11==0:

        print("  ",i)

   1001
   1078
   1155
   1232
   1309
   1386
   1463
   1540
   1617
   1694
   1771
   1848
   1925

2. Write a program to print this pattern

           #
          ## 
         ###

In [2]:
#please enter your answer below this line
n =3
for i in range(0, n):   
        for j in range(0, i + 1):  
            
            print(" # ", end="")         
        print()

 #
 #  #
 #  #  #

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [4]:
#please enter your answer below this line
list=["apple" ,"orange" , "apple" , "banana" ]
for i in range(0,4,2):
    list[i]="grapes"
print(list)

['grapes', 'orange', 'grapes', 'banana']